@page "/Admin"
@layout AdminMainLayout
@attribute [Authorize(Policy = "Admin")]

<AuthorizeView>
    <Authorized>
        <h2><p>ADMIN PANEL</p></h2>
    </Authorized>
    <NotAuthorized>
        <MudGrid>
            <MudItem xs="8">
                <MudPaper Class="pa-4" Elevation="3">
                    <img src="ArmsStaticFiles/bgImage.jpg" />
                </MudPaper>
            </MudItem>
            <MudItem xs="4">
                <div class="truckImg">
                    <MudPaper Class="pa-4 " Elevation="3">
                        <img src="ArmsStaticFiles/Truck.jpg" />
                    </MudPaper>
                </div>
            </MudItem>
        </MudGrid>
    </NotAuthorized>
</AuthorizeView>