:root {
    --dialog-bars-height: 160px;
}


.dialogInset {
    margin-top: 10px;
    padding: 20px;    
    max-height: calc(100vh - var(--dialog-bars-height));
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: inset 2px 1px 2px #CCC;
    background-color: #F5F5F5;
}
