@* Modern Loader Component - Reusable *@

<div class="modern-loader-container @(IsFullScreen ? "" : "inline-loader")">
    @if (ShowLogo)
    {
        <div class="loader-logo">
            <img src="images/ARMS.V2_Logo.png" alt="ARMS Logo" />
        </div>
    }
    
    <div class="loader-spinner" style="@GetSpinnerStyle()">
        <div class="spinner-ring spinner-ring-1"></div>
        <div class="spinner-ring spinner-ring-2"></div>
        <div class="spinner-ring spinner-ring-3"></div>
        <div class="spinner-center"></div>
    </div>
    
    @if (!string.IsNullOrEmpty(LoadingText))
    {
        <div class="loader-text">
            @LoadingText<span class="loader-text-dots"></span>
        </div>
    }
    
    @if (!string.IsNullOrEmpty(SubText))
    {
        <div class="loader-subtext">
            @SubText
        </div>
    }
</div>

@code {
    [Parameter]
    public bool IsFullScreen { get; set; } = false;
    
    [Parameter]
    public bool ShowLogo { get; set; } = true;
    
    [Parameter]
    public string LoadingText { get; set; } = "Loading";
    
    [Parameter]
    public string SubText { get; set; } = "";
    
    [Parameter]
    public string Size { get; set; } = "medium"; // small, medium, large
    
    private string GetSpinnerStyle()
    {
        return Size switch
        {
            "small" => "width: 100px; height: 100px;",
            "large" => "width: 300px; height: 300px;",
            _ => "width: 200px; height: 200px;"
        };
    }
}


