<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Hello, @context.User.Identity.Name!</a>
        <form method="post" action="UserAccount/LogOut">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="UserAccount/Register">Register</a>
        <a href="UserAccount/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>
