@inject NavigationManager uriHelper;

<AuthorizeView>
    <Authorized>        
       <MudButton Style="color:white" @onclick=Adminlog>Admin </MudButton>
        <a href="Identity/Account/Manage">
            <MudIcon Icon="@Icons.Material.Outlined.AccountCircle" Title="Favorite" />
            @context.User.Identity.Name!
            </a>
        <form method="post" action="UserAccount/LogOut">
            <button type="submit" class="nav-link btn btn-link">Log out</button>          
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="UserAccount/Register">Register</a>
        <a sty href="UserAccount/Login">Log in</a>

    </NotAuthorized>
</AuthorizeView>

@code{
      private void Adminlog()
    {       
            uriHelper.NavigateTo("/admin");  
    }
}