@inherits LayoutComponentBase
    <div class="page">
        <AuthorizeView>
            <Authorized>
                <div class="sidebar">
                    <NavMenu />
                </div>
            </Authorized>
        </AuthorizeView>

        <div class="main">          
            <div class="top-row px-4">
                <LoginDisplay />                
            </div>

            <div class="content px-4">
                @Body
            </div>
        </div>
    </div>
    <MudDialogProvider FullWidth="true" 
                       MaxWidth="MaxWidth.Small" 
                       CloseButton="true" 
                       DisableBackdropClick="true" 
                       NoHeader="false"
                       Position="DialogPosition.Center" />
<MudThemeProvider />
<MudSnackbarProvider />
@code
{

}