
@inject IDialogService DialogService
@inject AuthenticationStateProvider auth
@inject IUserService _user
@using System.Security.Claims
@inject NavigationManager uriHelper;
@inject MudBlazor.ISnackbar snackbar
@inherits LayoutComponentBase
<CascadingValue  Value="this">
    <div class="page">
        <AuthorizeView>
            <Authorized>
                <div class="sidebar">
                    <Views.Shared.NavMenu />
                </div>
            </Authorized>
        </AuthorizeView>

        <div class="main">
            <div class="top-row px-4">
                <AuthorizeView>
                    <Authorized>
                        <div style="text-align:center;color:#fff">
                            <MudButton style="color:#fff" StartIcon="@Icons.Outlined.AccountTree"
                                       DisableElevation="true" OnClick="@(async ()=> await changeBranch(@context.User.Identity.Name))">
                                @context.User.Claims.FirstOrDefault(x => x.Type == "BranchName")?.Value
                            </MudButton>
                        </div>
                    </Authorized>
                </AuthorizeView>

                <LoginDisplay />
                 <AuthorizeView>
            <Authorized>
               <MudButton Style="color:white" @onclick=Adminlog>Admin

                </MudButton>
            </Authorized>
        </AuthorizeView>
                
            </div>
            <div  class="content p-4">
                @Body
            </div>
        </div>
    </div>
</CascadingValue>
<MudDialogProvider FullWidth="true"
                   MaxWidth="MaxWidth.Small"
                   CloseButton="true"
                   DisableBackdropClick="true"
                   NoHeader="false"
                   Position="DialogPosition.Center" />
<MudThemeProvider />
<MudSnackbarProvider />


<style>


    body{background-color:#f0f0f0 !important;}
</style>


@code
{
   
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var authprov = await auth.GetAuthenticationStateAsync();
            if (authprov.User.Identity.IsAuthenticated)
            {
                if (!authprov.User.HasClaim(x => x.Type == "BranchName"))
                {
                    await changeBranch(authprov.User.Identity.Name);
                }

            }
        }
    }

    async Task changeBranch(string UserID)
    {


        DialogOptions options = new DialogOptions() { CloseButton = false };

        DialogParameters parameters = new DialogParameters();
        parameters.Add("UserID", UserID);

        var dialog = DialogService.Show<ChooseBranch>("Select A Branch", parameters, options);
        var result = await dialog.Result;
        if (!result.Cancelled)
        {
            UserBranchRoleModel BranchRole = (UserBranchRoleModel)result.Data;
            _user.SetCurrentBranchRole(BranchRole);
            uriHelper.NavigateTo(uriHelper.Uri, forceLoad: true);
        }
    }
    private void Adminlog()
    {
        UserModel usertype = new UserModel();
        
        if (usertype.IsAdmin == true)
        {
            uriHelper.NavigateTo("/admin");
        }
        else

        {
            snackbar.Add("You have not admin privilage", Severity.Error);
        }

    }
}

