
@inject ISessionStorageService sessionStorage

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">ARMS v2</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div id="navMenu" class="@NavMenuCssClass"  @onclick="ToggleNavMenu">
    <div class="fixed-content">
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <li class="nav-item px-3 dropdown">
                <NavLink class="nav-link" @onclick="() => setMenuState(0)">
                    <span class="oi oi-plus" aria-hidden="true"></span> Others
                </NavLink>
                @if (subMenuOne[0])
                {
                    <ul class="nav flex-column">
                        <li class="nav-item px-3">
                            <NavLink class="nav-link" href="counter">
                                <span class="oi oi-plus" aria-hidden="true"></span> Counter
                            </NavLink>
                        </li>
                        <li class="nav-item px-3">
                            <NavLink class="nav-link" href="fetchdata">
                                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
                            </NavLink>
                        </li>
                    </ul>
                }
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="place">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Places
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="routeView">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Routes
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="consignee">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Consignee
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="partyView">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Party
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="gst">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Gst
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="branch">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Branch
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="content">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Contents
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="order">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Orders
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="tariff">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Tariffs
                </NavLink>
            </li>
        </ul>
    </div>
</div>

<style>
    .fixed-content {    
        top:50px;
        bottom: 0;
        width:250px;
        position: fixed;
        overflow-y: auto;
        overflow-x: hidden;
    }
</style>

@code {
    private bool collapseNavMenu = true;
    private List<bool> subMenuOne = new List<bool>() { false};

    private async void setMenuState(int index)
    {
        subMenuOne[index] = !subMenuOne[index];
        await sessionStorage.SetItemAsync("submenu", subMenuOne);
    }

    protected override async Task OnInitializedAsync()
    {
        if(await sessionStorage.ContainKeyAsync("submenu"))
       subMenuOne = await sessionStorage.GetItemAsync<List<bool>>("submenu");
    }

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
