@using System.Net;
@inject IJSRuntime JSRuntime

<style>
    .mud-dialog-width-md {
        max-width: 1000px;
    }
    .mud-dialog .mud-dialog-content {
        padding: 0;
    }
</style>

<MudDialog>
    <DialogContent>
        <div style="height: 800px;">
            <ReportViewer @ref="_reportViewer" ReportName="@ReportName" Parameters="@Parameters" />
        </div>
    </DialogContent>
</MudDialog>

@code {
    [Parameter]
    public string ReportName { get; set; }
    
    [Parameter]
    public Dictionary<string, string> Parameters { get; set; }

    private ReportViewer _reportViewer;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && _reportViewer != null)
        {
            await _reportViewer.RenderReport();
        }
    }
}
