@using ArmsServices.DataServices.General
@inject ICashAccountService Iservice
@inject IChartOfAccountService ICoaservice
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@attribute [Authorize]
@using System.Threading;
@inject IRoleService<RoleModel> Irole
@inject IDialogService DialogService
@inject IConfigTable IConfig

<MudDialog>
    <TitleContent><h3>Create Cash Account</h3></TitleContent>
    <DialogContent>
        <EditForm id="formcshAc" Model="@model" OnValidSubmit="OnValidSubmit">
            <ObjectGraphDataAnnotationsValidator />
            <ValidationSummary />
            <MudGrid>
                <MudItem xs="6">
                    <MudTextField @bind-Value="model.CashCode" Label="Cash Code" Variant="Variant.Outlined" Margin="Margin.Dense" Disabled />
                 </MudItem>
                 <MudItem xs="6">
                     <MudTextField @bind-Value="model.Title" Label="Title" Variant="Variant.Outlined" Margin="Margin.Dense" />
                 </MudItem>
                 <MudItem xs="6">
                     <MudTextField @bind-Value="model.MinBalance" Label="Minimum Balance" Variant="Variant.Outlined" Margin="Margin.Dense" />
                 </MudItem>
                 <MudItem xs="6">
                     <MudTextField @bind-Value="model.MaxBalance" Label="Maximum Balance" Variant="Variant.Outlined" Margin="Margin.Dense" />
                 </MudItem>
                    <MudItem xs="12">
                    <MudSelect Label="" @bind-Value="model.AccountType" T="string" Variant="Variant.Outlined" Margin="Margin.Dense"  AdornmentColor="Color.Secondary">                       
                            <MudSelectItem Value="@("CASH")" />
                            <MudSelectItem Value="@("WALLET")" />                       
                    </MudSelect>
                    </MudItem>
                 <MudItem xs="12">                    
                    <CoaSelector @bind-Value="model.Coa" LabelName="Select A/c " AccountGroup="CoaGroup" />
                </MudItem>
            </MudGrid>
        </EditForm>
    </DialogContent>
    <DialogActions>
        <MudButton Disabled="@_busy" form="formcshAc" Variant="Variant.Filled" ButtonType="ButtonType.Submit" Color="Color.Success">Submit</MudButton>
        <MudButton @onclick="Cancel" Variant="Variant.Filled" Color="Color.Primary">Cancel</MudButton>
    </DialogActions>
</MudDialog>

@code {

    [Parameter]
    public CashAccountModel model { get; set; }
    public BranchModel SelectBr { get; set; }
    [CascadingParameter] IMudDialogInstance MudDialog { get; set; }
    int? CoaGroup;
    //private List<ChartOfAccountModel> Coa = new();
    private bool _busy;

    public bool HasPermissionCashAccountServiceEdit { get; set; } = false;
    public int CashAccountDocTypeID = 90;

    // Lifecycle method called when the component is initialized
    protected override async Task OnInitializedAsync()
    {
        CancellationTokenSource ctc = new CancellationTokenSource();
        HasPermissionCashAccountServiceEdit = await Irole.HasClaim(CashAccountDocTypeID.ToString(), "Edit", ctc.Token);

        // Get the cash group ID from configuration
        CoaGroup =  int.Parse(IConfig.GetByFinanceCashGroupID().ValueString);
    }

    // Method to handle form submission when the form is valid
    private async Task OnValidSubmit(EditContext context)
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is being submitted!", Severity.Warning);
            return;
        }
        _busy = true;

        if (HasPermissionCashAccountServiceEdit)
        {
            var authprov = await auth.GetAuthenticationStateAsync();
            var user = authprov.User;
            var brancIDString = authprov.User.Claims.First(x => x.Type == "BranchID").Value;
            model.BranchID = int.Parse(brancIDString);
            model.UserInfo.UserID = user.Identity.Name;
            try
            {
                Iservice.Update(model); // Update the cash account
                snackbar.Add("Saved Successfully", Severity.Success);
                MudDialog.Close(model);
            }
            catch (Exception ex)
            {
                snackbar.Add(ex.Message, Severity.Warning);
            }
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You don't have any permission to Edit CashAccount.");
        }
        await Task.Delay(200);
        _busy = false;
    }

    public void Cancel()
    {
        MudDialog.Cancel();
    }
}
