@page "/Breakdowns"
@attribute [Authorize]
@inject AuthenticationStateProvider auth
@inject IBreakdownService IBreakdown

<MudPaper Style="padding-bottom: 1px;">
    <MudToolBar>
        <MudText Typo="Typo.h6">Reported Breakdowns/Accidents</MudText>
    </MudToolBar>
    <MudDivider />
    @foreach (BreakdownModel item in BreakdownList)
    {
        <div style="margin: 24px;">
            <BreakdownComponent MainModel="@item" HideControls=false ReadOnly=false></BreakdownComponent>
        </div>
    }
</MudPaper>

@code {

    private List<BreakdownModel> BreakdownList = new();

    protected override async Task OnInitializedAsync()
    {
        var e = await auth.GetAuthenticationStateAsync();
        int BranchID = int.Parse(e.User.Claims.First(x => x.Type == "BranchID").Value);
        BreakdownList = IBreakdown.SelectPending(BranchID).ToList();
    }
}