@page "/Breakdowns"
@attribute [Authorize]
@inject AuthenticationStateProvider auth
@inject IBreakdownService IBreakdown

<h6> Reported Breakdowns/Accidents</h6>
@foreach (BreakdownModel item in BreakdownList)
{
    <div style="margin-bottom: 24px;">
        <BreakdownComponent MainModel="@item" HideControls=false ReadOnly=false></BreakdownComponent>
    </div>
}

@code {

    private List<BreakdownModel> BreakdownList = new();

    protected override async Task OnInitializedAsync()
    {
        var e = await auth.GetAuthenticationStateAsync();
        int BranchID = int.Parse(e.User.Claims.First(x => x.Type == "BranchID").Value);
        BreakdownList = IBreakdown.SelectPending(BranchID).ToList();
    }
}