.Finished {
    color: #000; /* Fallback for older browsers */
    color: rgb(51,153,204, 0.5);
    font-size: 36pt;
    font-weight: 800;
    position: absolute;
    left: 60px;
    top: 100px;
    font-family: Arial, sans-serif;
    transform: rotate(-35deg);
}