.Finished {
    color: #000; /* Fallback for older browsers */
    color: rgba(11, 156, 49, 0.5);
    font-size: 48pt;
    position: absolute;
    left: 100px;
    top: 100px;
    font-family: Arial, sans-serif;
    transform: rotate(-35deg);
}
