@page "/Billing"
@attribute [Authorize]
@inherits LayoutComponentBase
@layout MainLayout

<div class="d-flex flex-grow-1 gap-4">
    <div Class="flex-shrink-0">
        <MudPaper Width="250px" Elevation="2" Style="padding:0px; margin-top:16px;">
            <MudNavMenu Rounded="true" Margin="Margin.Dense" Color="Color.Primary" Class="pa-2">
                <MudNavLink Match="NavLinkMatch.Prefix" Href="/FreightBooking" IconColor="Color.Primary">Book Freight</MudNavLink>
                <MudNavLink Match="NavLinkMatch.Prefix" Href="/ConsolidatedBills" IconColor="Color.Primary">Consolidate Draft Bill</MudNavLink>
                <MudNavLink Match="NavLinkMatch.Prefix" Href="/ProformaInvoiceView" IconColor="Color.Primary">Proforma Invoice</MudNavLink>
            </MudNavMenu>
        </MudPaper>
    </div>
    <div Class="mt-4 flex-auto">
        <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge">
            @Body
        </MudContainer>
    </div>
</div>

@code {

    MudTheme MuudstrapTheme = new MudTheme()
        {
            PaletteLight = new PaletteLight()
            {
                AppbarBackground = "#f8f9fa",
                AppbarText = "#181819"
            },
            Typography = new Typography()
            {
                H6 = new H6Typography()
                {
                    FontFamily = new[] { "system-ui", "-apple-system", "Segoe UI", "Roboto ", "Helvetica Neue", "Arial", "Noto Sans", "Liberation Sans", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" },
                    FontSize = "1.25rem",
                    FontWeight = "400",
                    LineHeight = "1.7",
                    LetterSpacing = "normal"
                },
                Button = new ButtonTypography()
                {
                    FontFamily = new[] { "system-ui", "-apple-system", "Segoe UI", "Roboto ", "Helvetica Neue", "Arial", "Noto Sans", "Liberation Sans", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" },
                    FontSize = "1rem",
                    FontWeight = "400",
                    LineHeight = "1.5",
                    LetterSpacing = "normal"
                }
            }
        };
}
