@inherits LayoutComponentBase

<PageTitle>ArmsAdmin</PageTitle>

<div class="page">
 
    <main>
        <div class="top-row">
            <br />
        @*<a class="navbar-brand" href="/"><img src="css/logoarms.png" style="margin-top:5%;" width="160px"/></a>*@
        </div>
        <MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
