@inject IDialogService DialogService
@inject AuthenticationStateProvider auth
@inherits LayoutComponentBase
@using System.Security.Claims
@inject IUserService _user
@inject NavigationManager uriHelper;
@inject MudBlazor.ISnackbar snackbar

<CascadingValue  Value="this">
    <div class="page">
        <AuthorizeView>
            <Authorized>
                <div class="sidebar">
                      <ArmsAdmin.Shared.NavMenuAdmin />
                </div>
            </Authorized>
        </AuthorizeView>

        <div class="main">
        <div class="top-row px-4">
                <BarDisplay />
        </div>

        <article class="content px-4">
            @Body
        </article>
        </div>
    </div>
</CascadingValue>
<MudDialogProvider FullWidth="true"
                   MaxWidth="MaxWidth.Small"
                   CloseButton="true"
                   DisableBackdropClick="true"
                   NoHeader="false"
                   Position="DialogPosition.Center" />
<MudThemeProvider />
<MudSnackbarProvider />


<style>


    body{background-color:#f0f0f0 !important;}
</style>


@code
{
   
  
}

