@inject NavigationManager uriHelper;

<AuthorizeView>
    <Authorized>        
        <MudButton Style="color:white" @onclick=Adminlog>Exit Admin</MudButton>
        <a style="color:#fff" href="Identity/Account/Manage"><MudIcon Icon="@Icons.Material.Outlined.AccountCircle" Title="Favorite" />@context.User.Identity.Name!</a>
        <form method="post" action="UserAccount/LogOut">
              <button type="submit" class="nav-link btn btn-link">Log out</button>          
        </form>
    </Authorized>
    
</AuthorizeView>

@code{
      private void Adminlog()
    {       
            uriHelper.NavigateTo("/");  
    }
}