@inject IDataAuthorizationService Iservice
@inject NavigationManager uriHelper
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@attribute [Authorize]
@inject IDialogService DialogService


<MudDialog>
    <TitleContent><h3>Autherization Verification</h3></TitleContent>
     <DialogContent>
    

   <MudPaper>
    <MudContainer Style="max-height: 450px; overflow-y: scroll">
    <MudGrid>
        <MudItem xs="12" md="12">
           
           <MudTextField @bind-Value="model.Remarks" Lines="2" Label="Remarks" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Remarks)"></MudTextField>

        </MudItem>
        
   
        
   
     
   
    </MudGrid>
    </MudContainer>
    </MudPaper>
    </DialogContent>
     <DialogActions>
      
      
           <MudButton @onclick="Approve" Variant="Variant.Filled" Color="Color.Success" >@btn_txt1</MudButton>
         
         <MudButton @onclick="Reject" Variant="Variant.Filled" Color="Color.Warning" >@btn_txt2</MudButton>
         
     </DialogActions>
    </MudDialog>


@code {
    [Parameter]
    public DataAuthorizationModel model { get; set; }
    public string btn_txt1 = "Verify";
    public string btn_txt2 = "Cancel";
    public bool IsApprove=false;
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    protected override void OnInitialized()
    {
        if(model.AuthLevelID==99)
        {
            btn_txt1 = "Approve";
            IsApprove = true;
        }
    }
    public void Reject()
    {

    }
    public async Task Approve()
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;
        model.UserInfo.UserID = user.Identity.Name;
        DataApprovedStatus aprvd = new DataApprovedStatus();
        aprvd.IsApprove = IsApprove;
        aprvd.Remarks = model.Remarks;
        try
        {
            if (!IsApprove)
            {
                Iservice.Update(model);
                snackbar.Add("Saved Successfully", Severity.Success);
            }
            model = new();            
            MudDialog.Close(aprvd);
        }
        catch (Exception ex)
        {
            snackbar.Add(ex.Message, Severity.Warning);
        }        
    }
}
