@using Core.BaseModels.Finance;

@inject IAccountInfoService Iservice
@if (CancellationReasonCodeModel!= null && CancellationReasonCodeModel.MID != null)
{
    <h6 style="color:red;display:block;">Reversed with @(ResultString)</h6>
}

@code {


    [Parameter]
    public DocumentDetailsModel DocumentDetails { get; set; } = new();


    public string ResultString { get; set; }
    public CancellationReasonCodesByDocumentType CancellationReasonCodeModel { get; set; }
    protected override void OnParametersSet()
    {
        if (DocumentDetails != null && DocumentDetails.DocumentTypeID != null && DocumentDetails.DocumentID != null)
        {
            CancellationReasonCodeModel = Iservice.GetReverseEntryDetailsByDocumentTypeAndDocumentID(DocumentDetails.DocumentID, DocumentDetails.DocumentTypeID);
            if (CancellationReasonCodeModel != null && CancellationReasonCodeModel.MID != null)
            {
                ResultString = CancellationReasonCodeModel.DocumentNumber + (CancellationReasonCodeModel.DocumentDate != null ? (" on " + CancellationReasonCodeModel.DocumentDate.Value.ToString("dd/MM/yyyy")) : "");
            }
            
        }
    }
}
