body {
    font-family: 'Ubuntu', sans-serif;
}

.optxtbox
{

}
.opthead {
    background-color: #1469c0;
    width: 100%;
    padding: 2%;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
}
.subbutn {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;
    margin-right:2%;
}
.scsbtn{
    background-color:#0d8219;
    color:#fff;
}