@inject IInventoryGrnService Iservice
@inject IGstItemService gstitemIservice
@inject ITdsRateService tdsIService
@inject IBranchService branchIservice
@inject MudBlazor.ISnackbar snackbar
@inject IInventoryGroupService inventoryGroupIservice
@inject AuthenticationStateProvider auth
@attribute [Authorize]
@inject IDialogService DialogService


<h3>InventoryGrnViewDialog</h3>

@code {

    private InventoryGrnModel model = new InventoryGrnModel();
    private List<InventoryGrnModel> collection = new List<InventoryGrnModel>();
    DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = true };
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    private string searchPurchase = "";
    protected override async Task OnInitializedAsync()
    {
        model = new();
        GetAll();
    }

    private  async Task GetAll()
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        var brancIDString = authprov.User.Claims.First(x => x.Type == "BranchID").Value;
        int brancID = int.Parse(brancIDString);
        collection = new List<InventoryGrnModel>();
        foreach (var item in Iservice.SelectPending(brancID))
        {
            collection.Add(item);
        }


    }   
    private async Task OpenDialog(InventoryGrnModel tds)
    {   
        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;

        DialogParameters parms = new DialogParameters();
        parms.Add("model",tds);
        DialogService.Show<InventoryGrnDialog>("GRN",parms,maxWidth);


    }
    private async Task Reverse(InventoryGrnModel tds)
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;
        model.UserInfo.UserID = user.Identity.Name;
        Iservice.Reverse(model.GrnID.Value,model.UserInfo.UserID);
        MudDialog.Close(model);


    }

    


        
            
        
    
}

