
@inject IUserService iservice
@inject IRoleService<RoleModel> Irole
@inject RoleManager<RoleModel> imgr
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@attribute [Authorize]
@using System.Globalization
@using Microsoft.AspNetCore.Identity

<div style="padding:5%">


 <EditForm Model="@EditModel" OnValidSubmit="OnValidSubmit">
             <MudButton OnClick="Cancel">Cancel</MudButton>
  <MudItem xs="6">
<MudTextField Class="dropstyle"   @bind-Value="EditModel.RoleID"  Label="Role ID" Variant="Variant.Text" Margin="Margin.Normal" For="@(() => EditModel.RoleID)"></MudTextField>
<MudTextField Class="dropstyle"   @bind-Value="EditModel.RoleDesc"  Label="Role  Description" Variant="Variant.Text" Margin="Margin.Normal" For="@(() => EditModel.RoleDesc)"></MudTextField>
</MudItem>
 <br />
 <MudButton Variant="Variant.Filled" Color="Color.Success" ButtonType="ButtonType.Submit">Create Role</MudButton>
</EditForm>
</div>
@code {


    [Parameter]
    public RoleModel EditModel { get; set; }

    private List<RoleModel> collection = new List<RoleModel>();
       [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    void Cancel() => MudDialog.Cancel();
    private async void OnValidSubmit(EditContext context)
    {

        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;
        EditModel.UserInfo.UserID = user.Identity.Name;
        try
        {
           await imgr.CreateAsync(EditModel);

            snackbar.Add("Saved Successfully", Severity.Success);
            if (collection.Exists(x => x.RoleNo == EditModel.RoleNo))
            {
                collection[collection.FindIndex(x => x.RoleNo == EditModel.RoleNo)] =  EditModel;
            }
            else
            {
                collection.Add( EditModel);
            }
             EditModel = new RoleModel();           
        }
        catch (Exception ex)
        {
            snackbar.Add(ex.Message, Severity.Warning);
        }
    }



}
