@using System.Threading;
@attribute [Authorize]
@inject AuthenticationStateProvider auth
@inject IROIAdBlueRatioService Iservice
@inject ITruckService ITruckService
@inject MudBlazor.ISnackbar snackbar
@inject IDialogService DialogService


<MudDialog Style="overflow-y: hidden;">
    <TitleContent>
        <MudText Typo="Typo.h6">
            Add/Edit AdBlue Ratio Stds
        </MudText>
    </TitleContent>
    <DialogContent>
        <EditForm id="formAdBlue" Model="@model" OnValidSubmit="OnValidSubmit">
            <ObjectGraphDataAnnotationsValidator />
            <ValidationSummary />
            <MudGrid>
                <MudItem xs="12" md="4">
                    <MudNumericField HideSpinButtons @bind-Value="model.Wheels" Label="Wheels" Variant="Variant.Outlined" Margin="Margin.Dense" MaxLength="2" />
                </MudItem>
                <MudItem xs="12" md="4">
                    <MudAutocomplete Clearable="true" Variant="Variant.Outlined" Margin="Margin.Dense" T="string" Label="BS-Type" ResetValueOnEmptyText="true" @bind-Value="model.BSType"
                                     SearchFunc="SearchBSType" ></MudAutocomplete>
                </MudItem>             
                <MudItem xs="12" md="4">
                    <MudTextField InputMode="InputMode.numeric" Format="P2" @bind-Value="model.AdBlueRatio" Label="AdBlue Ratio" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.AdBlueRatio)"></MudTextField>
                </MudItem>
            </MudGrid>
        </EditForm>
    </DialogContent>
    <DialogActions>
        <div style="padding-right:12px; padding-bottom:12px;">
            <MudButton Size="Size.Large" Variant="Variant.Filled" Color="Color.Success" form="formAdBlue" ButtonType="ButtonType.Submit" Class="ml-auto">Submit</MudButton>
        </div>
    </DialogActions>
</MudDialog>

@code {

    [Parameter]
    public ROIAdBlueStdModel model { get; set; }
    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; }

    public List<string> BSTypeList = new();
    string UserID;
    int BranchID;

    protected override async Task OnInitializedAsync()
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        UserID = authprov.User.Identity.Name;
        BranchID = int.Parse(authprov.User.Claims.First(x => x.Type == "BranchID").Value);
        BSTypeList = ITruckService.SelectBSType().ToList();       
    }


    public async Task<IEnumerable<string>> SearchBSType(string searchString)
    {
        return await Task.FromResult(BSTypeList.Where(x => x.Contains(searchString == null ? string.Empty : searchString, StringComparison.InvariantCultureIgnoreCase)));
    }



    private void OnValidSubmit(EditContext context)
    {
        model.UserInfo.UserID = UserID;
        try
        {
            model = Iservice.Update(model);
            MudDialog.Close(model);
        }
        catch (Exception ex)
        {
            snackbar.Add(ex.Message, Severity.Warning);
        }
    }

    private void Cancel()
    {
        MudDialog.Cancel();
    }

}