@attribute [Authorize]
@inherits LayoutComponentBase
@layout MainLayout

<div class="d-flex flex-grow-1 gap-4">
    <div Class="flex-shrink-0">
        <MudPaper Width="250px" Elevation="2" Style="padding:0px; margin-top:16px;">
            <MudNavMenu Rounded="true" Margin="Margin.Dense" Color="Color.Primary" Class="pa-2">
                <MudNavLink Match="NavLinkMatch.Prefix" Href="/ROITonnage" IconColor="Color.Primary">ROI Tonnage</MudNavLink>
                <MudNavLink Match="NavLinkMatch.Prefix" Href="/ROIMileage" IconColor="Color.Primary">ROI Mileage</MudNavLink>
                <MudNavLink Match="NavLinkMatch.Prefix" Href="/ROIAdBlue" IconColor="Color.Primary">ROI AdBlue-Ratio</MudNavLink>
                <MudNavLink Match="NavLinkMatch.Prefix" Href="/ROITime" IconColor="Color.Primary">ROI Time</MudNavLink>
                <MudNavLink Match="NavLinkMatch.Prefix" Href="/ROIDriverBatta" IconColor="Color.Primary">ROI Driver Batta </MudNavLink>
                @* <MudNavLink Match="NavLinkMatch.Prefix" Href="/ROIDriverIncentive" IconColor="Color.Primary">ROI Driver Incentive </MudNavLink> *@
                <MudNavLink Match="NavLinkMatch.Prefix" Href="/ROITagging" IconColor="Color.Primary">ROI Tagging Charges</MudNavLink>
                <MudNavLink Match="NavLinkMatch.Prefix" Href="/ROILoadingCharges" IconColor="Color.Primary">ROI Loading Charges </MudNavLink>
                <MudNavLink Match="NavLinkMatch.Prefix" Href="/ROIUnloadingCharges" IconColor="Color.Primary">ROI Unloading</MudNavLink>
                <MudNavLink Match="NavLinkMatch.Prefix" Href="/ROIToll" IconColor="Color.Primary">ROI Toll</MudNavLink>                
                <MudNavLink Match="NavLinkMatch.Prefix" Href="/ROIAdminExpense" IconColor="Color.Primary">ROI Admin Expense</MudNavLink>
                <MudNavLink Match="NavLinkMatch.Prefix" Href="/ROITyreAndMaintenanceExpense" IconColor="Color.Primary">ROI Tyre And Maintenance Expense</MudNavLink>
                <MudNavLink Match="NavLinkMatch.Prefix" Href="/ROITaxAndFCExpense" IconColor="Color.Primary">ROI Tax And FC Expense</MudNavLink>
            </MudNavMenu>
        </MudPaper>
    </div>
    <div Class="mt-4 flex-auto">
        <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge">
            @Body
        </MudContainer>
    </div>
</div>