@attribute [Authorize]
@inherits LayoutComponentBase
@layout MainLayout

<div class="d-flex flex-grow-1 gap-4">
    <div Class="flex-shrink-0">
        <MudPaper Width="250px" Elevation="2" Style="padding:0px; margin-top:16px;">
            <MudNavMenu Rounded="true" Margin="Margin.Dense" Color="Color.Primary" Class="pa-2">
                <MudNavLink Match="NavLinkMatch.Prefix" Href="/ROITonnage" IconColor="Color.Primary">ROI Tonnage</MudNavLink>
                <MudNavLink Match="NavLinkMatch.Prefix" Href="/ROIMileage" IconColor="Color.Primary">ROI Mileage</MudNavLink>
                <MudNavLink Match="NavLinkMatch.Prefix" Href="/ROITime" IconColor="Color.Primary">ROI Time</MudNavLink>
                <MudNavLink Match="NavLinkMatch.Prefix" Href="/ROIDriverBatta" IconColor="Color.Primary">ROI Driver Batta </MudNavLink>
                <MudNavLink Match="NavLinkMatch.Prefix" Href="/ROIDriverIncentive" IconColor="Color.Primary">ROI Driver Incentive </MudNavLink>
            </MudNavMenu>
        </MudPaper>
    </div>
    <div Class="mt-4 flex-auto">
        <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge">
            @Body
        </MudContainer>
    </div>
</div>