@using System.Threading;
@attribute [Authorize]
@inject AuthenticationStateProvider auth
@using Core.BaseModels.Operations.ROI
@using Core.IDataServices.Operations.ROI
@inject ITruckService ITruckService
@inject IROITimeService IROITimeService
@inject MudBlazor.ISnackbar snackbar
@inject IDialogService DialogService
@inject IRoleService<RoleModel> Irole

<MudDialog Style="overflow-y: hidden;">
    <TitleContent>
        <MudText Typo="Typo.h6">
            Add/Edit Wheels & Speed
        </MudText>
    </TitleContent>
    <DialogContent>
        <EditForm Model="@model" id="ROIWheelSpeedForm" OnValidSubmit="Submit">
            <MudGrid>
                <MudItem xs="6">
                    <MudAutocomplete Clearable="true" Variant="Variant.Outlined" Margin="Margin.Dense" T="byte?" Label="Wheels" ResetValueOnEmptyText="true" ValueChanged="WheelChanged" Value="model.Wheels"
                                     SearchFunc="SearchWheel" ToStringFunc="@(e => e?.ToString())">
                    </MudAutocomplete>
                </MudItem>
                <MudItem xs="6">
                    <MudNumericField HideSpinButtons @bind-Value="model.Speed" Label="Speed" Variant="Variant.Outlined" Margin="Margin.Dense" MaxLength="10" />
                </MudItem>
            </MudGrid>
            <ObjectGraphDataAnnotationsValidator />
            <ValidationSummary />
        </EditForm>
    </DialogContent>
    <DialogActions>
        <div style="padding-right:12px; padding-bottom:12px;">
            <MudButton Size="Size.Large" Variant="Variant.Filled" Color="Color.Success" form="ROIWheelSpeedForm" ButtonType="ButtonType.Submit" Class="ml-auto">Submit</MudButton>
        </div>
    </DialogActions>
</MudDialog>

@code {

    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    [Parameter]
    public ROIWheelSpeedModel model { get; set; } = new();
    public List<ROITonnageModel> WheelList = new();
    public List<byte?> WheelsList { get; set; } = new();
    string UserID;
    int BranchID;
    public int DocTypeID = 143;
    public bool HasPermissionROIServiceEdit { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        CancellationTokenSource ctc = new CancellationTokenSource();
        HasPermissionROIServiceEdit = await Irole.HasClaim(DocTypeID.ToString(), "Edit", ctc.Token);

        var authprov = await auth.GetAuthenticationStateAsync();
        UserID = authprov.User.Identity.Name;
        BranchID = int.Parse(authprov.User.Claims.First(x => x.Type == "BranchID").Value);

        WheelList = ITruckService.SelectWheels().ToList();
        WheelsList = WheelList.Select(x => x.Wheels).ToList();
    }

    public void WheelChanged(byte? obj)
    {
        model.Wheels = obj;
    }

    private async void Submit()
    {
        if (HasPermissionROIServiceEdit)
            {
            try
            {
                model.UserInfo.UserID = UserID;
                model = IROITimeService.UpdateWheelSpeed(model);
                MudDialog.Close(model);
            }
            catch (Exception a)
            {
                snackbar.Add(a.Message, Severity.Error);
            }
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You don't have any permission to Edit ROI settings.");
        }
    }

    public async Task<IEnumerable<byte?>> SearchWheel(string searchString)
    {
        return await Task.Run(() => WheelsList.Where(x => x.ToString().Contains(searchString ?? string.Empty, StringComparison.InvariantCultureIgnoreCase)));
    }
}