@using System.Threading;
@using Core.BaseModels.Operations.ROI
@using Core.IDataServices.Operations.ROI
@attribute [Authorize]
@inject AuthenticationStateProvider auth
@inject IROITaxAndFCExpenseService Iservice
@inject MudBlazor.ISnackbar snackbar
@inject IDialogService DialogService
@inject IRoleService<RoleModel> Irole

<MudDialog Style="overflow-y: hidden;">
    <TitleContent>
        <MudText Typo="Typo.h6">
            Add/Edit Tax And FC Expense
        </MudText>
    </TitleContent>
    <DialogContent>
        <EditForm id="formexp" Model="@model" OnValidSubmit="OnValidSubmit">
            <ObjectGraphDataAnnotationsValidator />
            <ValidationSummary />
            <MudGrid>
                <MudItem xs="12" md="4">
                    <TruckSelector @bind-Value="@model.Truck" Filter="All"></TruckSelector>
                </MudItem>
                <MudItem xs="12" md="4">
                    <MudNumericField HideSpinButtons @bind-Value="model.TaxAndInsurance" Label="Tax And Insurance" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.TaxAndInsurance)"></MudNumericField>
                </MudItem>
                <MudItem xs="12" md="4">
                    <MudNumericField HideSpinButtons @bind-Value="model.FC" Label="FC" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.FC)"></MudNumericField>
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudDatePicker Label="Period From" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.FromDate" HelperText="Enter Date" DateFormat="dd/MM/yyyy" />
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudDatePicker Label="Period To" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.ToDate" HelperText="Enter Date" DateFormat="dd/MM/yyyy" />
                </MudItem>
            </MudGrid>
        </EditForm>
    </DialogContent>
    <DialogActions>
        <div style="padding-right:12px; padding-bottom:12px;">
            <MudButton Size="Size.Large" Variant="Variant.Filled" Color="Color.Success" form="formexp" ButtonType="ButtonType.Submit" Class="ml-auto">Submit</MudButton>
        </div>
    </DialogActions>
</MudDialog>

@code {

    [Parameter]
    public ROITaxAndFCExpenseModel model { get; set; }
    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; }
    public List<ROITaxAndFCExpenseModel> Collection = new();
    string UserID;
    int BranchID;
    public int DocTypeID = 143;
    public bool HasPermissionROIServiceEdit { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        CancellationTokenSource ctc = new CancellationTokenSource();
        HasPermissionROIServiceEdit = await Irole.HasClaim(DocTypeID.ToString(), "Edit", ctc.Token);

        var authprov = await auth.GetAuthenticationStateAsync();
        UserID = authprov.User.Identity.Name;
        BranchID = int.Parse(authprov.User.Claims.First(x => x.Type == "BranchID").Value);

        Collection = Iservice.Select(BranchID).ToList();
    }

    private async void OnValidSubmit(EditContext context)
    {
        if (HasPermissionROIServiceEdit)
        {
            model.UserInfo.UserID = UserID;
            try
            {
                model = Iservice.Update(model);
                MudDialog.Close(model);
            }
            catch (Exception ex)
            {
                snackbar.Add(ex.Message, Severity.Warning);
            }
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You don't have any permission to Edit ROI settings.");
        }

    }

    private void Cancel()
    {
        MudDialog.Cancel();
    }

}