@using System.Threading;
@using Core.BaseModels.Operations.ROI
@using Core.IDataServices.Operations.ROI
@attribute [Authorize]
@inject AuthenticationStateProvider auth
@inject IROIUnloadingService Iservice
@inject IRouteService Iroute
@inject MudBlazor.ISnackbar snackbar
@inject IDialogService DialogService
@inject IRoleService<RoleModel> Irole

<MudDialog Style="overflow-y: hidden;">
    <TitleContent>
        <MudText Typo="Typo.h6">
            Add/Edit Unloading
        </MudText>
    </TitleContent>
    <DialogContent>
        <MudGrid>
            <MudItem xs="12" md="4">
                <MudAutocomplete Clearable="true" Variant="Variant.Outlined" Margin="Margin.Dense" T="RouteModel" Label="Route" ResetValueOnEmptyText="true" ValueChanged="RouteChanged" Value="model.Route"
                                 SearchFunc="SearchRoutes" ToStringFunc="@(e => e == null ? null : $"{e.RouteName}")"></MudAutocomplete>
            </MudItem>
            <MudItem xs="12" md="4">
                <MudSelect Margin="Margin.Dense" Variant="Variant.Outlined" Label="Rate Basis" @bind-Value="model.RateBasis" AdornmentColor="Color.Secondary">
                    <MudSelectItem Value="@("Fixed")">Fixed</MudSelectItem>
                    <MudSelectItem Value="@("Per MT")">Per MT</MudSelectItem>
                </MudSelect>
            </MudItem>
            <MudItem xs="12" md="4">
                <MudTextField @bind-Value="model.Unloading" Label="Unloading" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Unloading)"></MudTextField>
            </MudItem>
        </MudGrid>
    </DialogContent>
    <DialogActions>
        <div style="padding-right:12px; padding-bottom:12px;">
            <MudButton Size="Size.Large" Variant="Variant.Filled" Color="Color.Success" OnClick="Submit" Class="ml-auto">Sumbit</MudButton>
        </div>
    </DialogActions>
</MudDialog>

@code {

    [Parameter]
    public ROIUnloadingModel model { get; set; }
    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; }
    public List<ROIUnloadingModel> Collection = new();
    public List<RouteModel> RouteList { get; set; }
    string UserID;
    int BranchID;

    protected override async Task OnInitializedAsync()
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        UserID = authprov.User.Identity.Name;
        BranchID = int.Parse(authprov.User.Claims.First(x => x.Type == "BranchID").Value);

        Collection = Iservice.Select().ToList();
        RouteList = await Iroute.Select(0).ToListAsync();
    }

    private async Task<IEnumerable<RouteModel>> SearchRoutes(string searchString)
    {
        return await Task.FromResult(RouteList.Where(x => x.RouteName.Contains(searchString == null ? string.Empty : searchString, StringComparison.InvariantCultureIgnoreCase)));
    }

    private void RouteChanged(RouteModel obj)
    {
        model.Route = obj;
    }

    protected async Task Submit()
    {
        model.UserInfo.UserID = UserID;
        model = Iservice.Update(model);
        MudDialog.Close(model);
    }

}