<h3>BranchContactDetailsView</h3>


<MudDialog>

    <DialogContent>
        <MudContainer Style="max-height: 450px; overflow-y: scroll">
            <EditForm id="formtdsRate" Model="@model" OnValidSubmit="OnValidSubmit">
                <ObjectGraphDataAnnotationsValidator />
                <ValidationSummary />
                <MudGrid Spacing="2">


                </MudGrid>
            </EditForm>
        </MudContainer>
    </DialogContent>
</MudDialog>
@code {
    [Parameter]
    public int? branchID{ get; set; }
    public ContactModel model = new();
    private async Task OnValidSubmit(EditContext context)
    {
        
    }
}
