@inject AuthenticationStateProvider auth
@inject MudBlazor.ISnackbar snackbar
@inject IDialogService DialogService
@inject IStockTransferService IStockTransferService
@using Core.BaseModels.Inventory;

<MudDialog>
    <TitleContent><h3>Reject Stock-Transfer</h3></TitleContent>
    <DialogContent>
        <MudContainer>

            <MudPaper Class="p-3">
                <EditForm id="stockTransferRejectForm" Model="@Model" OnValidSubmit="OnValidSubmit">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <MudGrid>
                        <MudItem xs="12" md="12">
                            <MudTextField T="string" ReadOnly Value="@Model.OtherBranchName" Variant="Variant.Outlined" Margin="Margin.Dense" />
                        </MudItem>
                        <MudItem xs="12" md="12">
                            <MudTextField @bind-Value="@Model.Narration" Label="Narration" Variant="Variant.Outlined" Margin="Margin.Dense" Disabled="ReadOnly"></MudTextField>
                        </MudItem>
                        <br />
                    </MudGrid>
                </EditForm>
            </MudPaper>
        </MudContainer>
    </DialogContent>
    <DialogActions>
        <MudItem xs="12" md="2">
            <MudButton Disabled="@_busy" form="stockTransferRejectForm" Variant="Variant.Filled" ButtonType="ButtonType.Submit" Color="Color.Success">Submit</MudButton>
        </MudItem>
    </DialogActions>
</MudDialog>

@code {

    [Parameter]
    public bool ReadOnly { get; set; }
    [Parameter]
    public StockTransferInitiationModel Model { get; set; }
    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; }
    bool _busy;
    int? branchID;
    string UserID;

    protected override async Task OnInitializedAsync()
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        branchID = int.Parse(authprov.User.Claims.First(x => x.Type == "BranchID").Value);
        UserID = authprov.User.Identity.Name;
    }

    public async Task OnValidSubmit(EditContext context)
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is being submitted!", Severity.Warning);
            return;
        }
        _busy = true;
        try
        {
            //var authprov = await auth.GetAuthenticationStateAsync();
            //var user = authprov.User;
            Model.UserInfo.UserID = UserID;
            //Model.BranchID = branchID;
            //Model.Narration = Model.Narration;
            //Model.Store = Model.Store;
            //Model.CostCenter = Model.CostCenter;
            //Model.Dimension = Model.Dimension;
            //model.BranchID = branchID;
            //Model.ItemsList = IStockTransferService.SelectItemsList(Model?.StockTransferID).ToList();
            IStockTransferService.RejectOrder(Model);
            snackbar.Add("Order Rejected Successfully", Severity.Success);
            MudDialog.Close(Model);
        }
        catch (Exception ex)
        {
            bool? result = await DialogService.ShowMessageBox(
                    "Exception!",
                   ex.Message);
        }
        await Task.Delay(200);
        _busy = false;
    }

    private void CloseDialog()
    {
        MudDialog.Close();
    }
}