@page "/login"

@using Views.Data
@inject AuthenticationStateProvider auth
@inject NavigationManager nav
@inject ISessionStorageService sessionStorage

<EditForm Model="user" OnValidSubmit="OnValidSubmit">
    <MudTextField @bind-Value="user.UserID" Label="User Name" Variant="Variant.Text"> </MudTextField>
    <MudTextField InputType="InputType.Password" @bind-Value="user.Password" Label="Password" > </MudTextField>
    <MudButton ButtonType="ButtonType.Submit">Login</MudButton>
</EditForm>


<h3>Login</h3>

@code {
    private User user;

    protected override Task OnInitializedAsync()
    {
        user = new User();
        return base.OnInitializedAsync();
    }

    private async Task<bool> OnValidSubmit()
    {
        ((CustomAuthenticationSatetProvider)auth).AuthenticateUser(user.UserID);
        nav.NavigateTo("/");
        await sessionStorage.SetItemAsync("userID", user.UserID);

        return await Task.FromResult(true);
    }

    class User
    {
        public string UserID { get; set; }
        public string Password { get; set; }
        public string UserName { get; set; }
        public List<int> branches { get; set; }
    }
}
