@using ArmsModels.BaseModels.General;
@inject IAssetSettingsService Iservice
@attribute [Authorize]
@using System.Threading;
@inject IRoleService<RoleModel> Irole
@inject AuthenticationStateProvider auth
@inject IDialogService DialogService

<MudDialog Class="my-dialogue pb-3">
    <DialogContent>
        <div style="padding: 8px;">
            <MudGrid style="padding: 0px;">
                @foreach (var i in SettingsList)
                {
                    <MudItem sm="12">
                        <MudGrid>
                            <MudItem sm="4" Class="d-flex align-content-center">
                                <MudSwitch Color="Color.Primary" Checked="@i.IsActive" T="bool" Label="@i.SettingsName" CheckedChanged="((value)=>OnValueChanged(i,value))"></MudSwitch>
                            </MudItem>
                            <MudItem sm="8" Class="d-flex align-content-center">
                                <p Class="d-flex align-content-lg-between">@i.SettingsDescription</p>
                            </MudItem>
                        </MudGrid>
                    </MudItem>
                    <br />
                }
            </MudGrid>
        </div>
    </DialogContent>
</MudDialog>

@code {

    string UserID;
    [Parameter]
    public int? SubClassID { get; set; }
    private List<AssetSettingsModel> SettingsList;

    public bool HasPermissionAssetSettingsServiceEdit { get; set; } = false;
    public int AssetSettingsDocTypeID = 111;

    // Lifecycle method called when the component is initialized
    protected override async Task OnInitializedAsync()
    {
        CancellationTokenSource ctc = new CancellationTokenSource();
        HasPermissionAssetSettingsServiceEdit = await Irole.HasClaim(AssetSettingsDocTypeID.ToString(), "Edit", ctc.Token);

        var authprov = await auth.GetAuthenticationStateAsync();
        UserID = authprov.User.Identity.Name;

        // Fetch the asset settings based on the subclass ID
        SettingsList = Iservice.SelectByID(SubClassID).ToList();
    }

    // Method to handle changes in asset settings
    private async Task OnValueChanged(AssetSettingsModel obj, bool value)
    {
        if (HasPermissionAssetSettingsServiceEdit)
        {
            if (SettingsList.Any(s => s.SettingsID == obj.SettingsID))
            {
                SettingsList.First(s => s.SettingsID == obj.SettingsID).IsActive = value;

                // Update the settings in the service
                Iservice.Update(SettingsList.First(s => s.SettingsID == obj.SettingsID), UserID);
            }
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You don't have any permission to Edit AssetSettings.");
        }
    }
}
