@inject IAssetClassService Iservice
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@attribute [Authorize]
@inject IDialogService DialogService

<MudDialog>
    <TitleContent><h3>Create Asset SubClass</h3></TitleContent>
    <DialogContent>
        <MudContainer>
            <EditForm id="formtdsRate" Model="@model" OnValidSubmit="OnValidSubmit">
                <ObjectGraphDataAnnotationsValidator />
                <MudGrid>
                    <MudItem xs="12" md="12">
                        <MudTextField @bind-Value="model.AssetSubclass" Label="Name of Asset SubClass" Variant="Variant.Outlined" Margin="Margin.Dense" />
                    </MudItem>
                    <MudItem xs="12" md="12">
                        <MudTextField @bind-Value="model.AssetSubAbbrev" MaxLength="3" Label="Asset SubClass Abbreviation" Variant="Variant.Outlined" Margin="Margin.Dense" />
                    </MudItem>
                    <MudItem xs="12" md="12">
                        <MudSelect Label="Select AssetClass " @bind-Value="model.AssetClassID" T="int?" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                            @foreach (var item in Ac)
                            {
                                <MudSelectItem Value="@item.AssetClassID">@item.AssetClassName</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>
                </MudGrid>
                <ValidationSummary />
            </EditForm>
        </MudContainer>
    </DialogContent>
    <DialogActions>
        <MudButton Disabled="@_busy" form="formtdsRate" Variant="Variant.Filled" ButtonType="ButtonType.Submit" Color="Color.Success">Submit</MudButton>
        <MudButton @onclick="Cancel" Variant="Variant.Filled" Color="Color.Primary">Cancel</MudButton>
    </DialogActions>
</MudDialog>

@code {

    [Parameter]
    public AssetSubClassModel model { get; set; }
    private List<AssetClassModel> Ac = new();
    private bool _busy;
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Ac = Iservice.SelectClasses().ToList();
    }

    private async Task OnValidSubmit(EditContext context)
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is being submitted!", Severity.Warning);
            return;
        }
        _busy = true;
        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;
        model.UserInfo.UserID = user.Identity.Name;
        model.AssetSubAbbrev = model.AssetSubAbbrev.ToUpper();
        MudDialog.Close(model);
        await Task.Delay(200);
        _busy = false;
    }

    public void Cancel()
    {
        MudDialog.Cancel();
    }
}