@using ArmsModels.BaseModels.General;
@inject IAssetSettingsService Iservice
@inject AuthenticationStateProvider auth


<MudDialog Class="my-dialogue pb-3">
    <DialogContent>
        <div style="padding: 8px;">
            <MudGrid style="padding: 0px;">
                @foreach (var i in SettingsList)
                {
                    <MudItem sm="12">
                        <MudGrid>
                            <MudItem sm="4" Class="d-flex align-content-center">
                                <MudSwitch Color="Color.Primary"  Checked="@i.RecordStatus" T="bool" Label="@i.SettingsName" CheckedChanged="@(() => OnValueChanged(i))"></MudSwitch>
                            </MudItem>
                            <MudItem sm="8" Class="d-flex aalign-content-center">
                                <p Class="d-flex align-content-lg-between">@i.SettingsDescription</p>
                            </MudItem>
                        </MudGrid>
                    </MudItem>
                    <br />
                }
            </MudGrid>
        </div>
    </DialogContent>
</MudDialog>

@code {

    string UserID;

    [Parameter]
    public int? SubClassID { get; set; }

    private List<AssetSettingsModel> SettingsList;

    protected override async Task OnInitializedAsync()
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        UserID = authprov.User.Identity.Name;

        SettingsList = Iservice.SelectByID(SubClassID).ToList();
    }


    private Task OnValueChanged(AssetSettingsModel setting)
    {
        // Toggle the RecordStatus value (if it's true, set it to false, and vice versa)
        setting.RecordStatus = !setting.RecordStatus;

        var authState = await auth.GetAuthenticationStateAsync();
        string userID = authState.User.Identity.Name;

        // Call the service method to update or insert the asset settings in the database.
        var updatedModel = Iservice.Update(new AssetSettingsModel());

        // Update the local SettingsList with the updated model.
        var existingItem = SettingsList.FirstOrDefault(s => s.SettingsID == updatedModel.SettingsID);
        if (existingItem != null)
        {
            existingItem.RecordStatus = updatedModel.RecordStatus;
        }

        // Notify the UI to update the changes.
        StateHasChanged();
    }


}