@inject IAssetClassService Iservice
@inject IAssetPostingGroupService IPostservice
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@attribute [Authorize]
@inject IDialogService DialogService


<MudDialog>
    <TitleContent><h3>Create AssetClasses</h3></TitleContent>
    <DialogContent>
        <MudContainer>
            <EditForm id="formtdsRate" Model="@model" OnValidSubmit="OnValidSubmit">
                <ObjectGraphDataAnnotationsValidator />
                <ValidationSummary />
                <MudGrid>
                    <MudItem xs="12" md="12">
                        <MudTextField @bind-Value="model.AssetClassName" Label="Name of Asset Class" Variant="Variant.Outlined" Margin="Margin.Dense" />
                    </MudItem>
                    <MudItem xs="12" md="12">
                        <MudSelect Label="Select Posting Group " @bind-Value="model.PostingGroupID" T="int?" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                            @foreach (var ditem in Ac)
                            {
                                <MudSelectItem Value="@ditem.ID">@ditem.Title</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>
                </MudGrid>
            </EditForm>
        </MudContainer>
    </DialogContent>
    <DialogActions>

        <MudButton form="formtdsRate" Variant="Variant.Filled" ButtonType="ButtonType.Submit" Color="Color.Success">Submit</MudButton>

        <MudButton @onclick="Cancel" Variant="Variant.Filled" Color="Color.Primary">Cancel</MudButton>

    </DialogActions>
</MudDialog>
@code {
    [Parameter]
    public AssetClassModel model { get; set; }
    private List<AssetPostingGroupModel> Ac = new();
    [CascadingParameter] IMudDialogInstance MudDialog { get; set; }
    protected override async Task OnInitializedAsync()
    {
        Ac = IPostservice.Select().ToList();
    }
    private async Task OnValidSubmit(EditContext context)
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;
        model.UserInfo.UserID = user.Identity.Name;
        MudDialog.Close(model);
    }

    public void Cancel()
    {

    }

}
