@inject IAssetClassService Iservice
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@attribute [Authorize]
@inject IDialogService DialogService
<MudDialog>
    <TitleContent><h3>Create Asset SubClass</h3></TitleContent>
    <DialogContent>
        <MudContainer>
            <EditForm id="formtdsRate" Model="@model" OnValidSubmit="OnValidSubmit">
                <ObjectGraphDataAnnotationsValidator />
                <ValidationSummary />
                <MudGrid>
                    <MudItem xs="12" md="12">
                        <MudTextField @bind-Value="model.AssetSubclass" Label="Name of Asset SubClass" Variant="Variant.Outlined" Margin="Margin.Dense" />
                    </MudItem>
                    <MudItem xs="12" md="12">
                        <MudSelect Label="Select AssetClass " @bind-Value="model.AssetClassID" T="int?" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                            @foreach (var ditem in Ac)
                            {
                                <MudSelectItem Value="@ditem.AssetClassID">@ditem.AssetClassName</MudSelectItem>
                            }
                        </MudSelect>

                    </MudItem>
                </MudGrid>
            </EditForm>
        </MudContainer>
    </DialogContent>
    <DialogActions>

        <MudButton form="formtdsRate" Variant="Variant.Filled" ButtonType="ButtonType.Submit" Color="Color.Success">Submit</MudButton>

        <MudButton @onclick="Cancel" Variant="Variant.Filled" Color="Color.Primary">Cancel</MudButton>

    </DialogActions>
</MudDialog>
@code {

    [Parameter]
    public AssetSubClassModel model { get; set; }

    private List<AssetClassModel> Ac = new();
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    protected override async Task OnInitializedAsync()
    {
        Ac = Iservice.SelectClasses().ToList();
    }
    private async Task OnValidSubmit(EditContext context)
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;
        model.UserInfo.UserID = user.Identity.Name;
        snackbar.Add("Saved Successfully", Severity.Success);
        MudDialog.Close(model);
    }

    public void Cancel()
    {
        MudDialog.Close(model);
    }
}
