@page "/AssetSimpleView"
@inject IAssetService Iservice
@inject IAssetClassService assetclassIservice
@inject IGstUsageIDService gstIservice
@inject IPartyService partyIservice
@inject MudBlazor.ISnackbar snackbar

@inject AuthenticationStateProvider auth
@attribute [Authorize]
@inject IDialogService DialogService

<MudPaper>
    <MudGrid Spacing="4"> <MudItem xs="12" lg="1"></MudItem>
        <MudItem xs="12" lg="10">
        <h3>Assets</h3>
         <MudTooltip Text="New Simple Asset">
                <MudButton    @onclick="@(()=> OpenDialog())" Color="Color.Primary" >Create Simple Asset</MudButton>
                </MudTooltip>
                  <MudTooltip Text="New Complex Asset">
                <MudButton   @onclick="@(()=> OpenDialogComplexAsset())"  Color="Color.Primary" >Create Complex Asset</MudButton>
                </MudTooltip></MudItem>
        <MudItem xs="12" lg="12">
    <MudGrid Justify="Justify.FlexEnd">
         <MudItem xs="12" md="1"></MudItem>    
          <MudItem xs="12" md="3"><h5>Description</h5></MudItem>    
           <MudItem xs="12" md="3"><h5> NatureOfAsset </h5></MudItem>    
            <MudItem xs="12" md="3"><h5>SerialNumber</h5></MudItem>  
             <MudItem xs="12" md="2"><h5>Actions</h5></MudItem>    
    </MudGrid>
@foreach (var child in Model)
{
  <AssetDisplayControl Model="child" />
}

</MudItem>
</MudGrid>
</MudPaper>
    @code {

    private List<AssetViewModel> Model = new List<AssetViewModel>();
    DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = true };

    protected override async Task OnInitializedAsync()
    {
        await GetAll();
    }

    public async Task GetAll()
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        var brancIDString = authprov.User.Claims.First(x => x.Type == "BranchID").Value;
        int brancID = int.Parse(brancIDString);
        Model= Iservice.GetAssetView(brancID,null).ToList();
    }

    private async Task OpenDialog()
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        AssetModel assetModel = new AssetModel();
        var user = authprov.User;
        assetModel.IsComplex = false;
        DialogParameters parms = new DialogParameters();
        parms.Add("model",assetModel);
        var dialog =  DialogService.Show<AssetSimpleDialog>(assetModel.AssetID == null?"ADD":"EDIT",parms,maxWidth);
        var result = await dialog.Result;

        if(!result.Cancelled)
        { 
            await GetAll();
        }
    }

    private async Task OpenDialogComplexAsset()
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;
        AssetModel assetModel = new AssetModel();
        assetModel.IsComplex = true;

        DialogParameters parms = new DialogParameters();
        parms.Add("model",assetModel);
        var dialog =  DialogService.Show<AssetSimpleDialog>(assetModel.AssetID == null?"ADD":"EDIT",parms,maxWidth);
        var result = await dialog.Result;
        if(!result.Cancelled)
        {
           await GetAll();
        }
    }
}