.finance-dashboard {
    padding: 15px;
}

.dashboard-grid {
    margin-top: 20px;
}

.dashboard-card {
    text-align: center;
}

.card-header {
    background-color: #009688;
    color: white;
}

.highlight {
    color: #009688;
}
