@inject IPeriodicMaintenanceService Iservice

@inject MudBlazor.ISnackbar snackbar
@attribute [Authorize]
@inject AuthenticationStateProvider auth

@inject IDialogService DialogService


<h3>Periodic Maintenance</h3>



@code {

    private List<PeriodicMaintenanceInitiateModel> List = new();


    protected override void OnInitialized()
    {
        List = Iservice.Select(null).ToList();
    }

}
