@inject IAssetClassService Iservice
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@attribute [Authorize]
@inject IDialogService DialogService


 <MudDialog>
    <TitleContent><h3>Create AssetClasses</h3></TitleContent>
     <DialogContent>
         <MudContainer>
                <EditForm id="formtdsRate" Model="@model" OnValidSubmit="OnValidSubmit" >
              <ObjectGraphDataAnnotationsValidator />
                <ValidationSummary />
                   <MudGrid>
                          <MudItem xs="12" md="12">
                              <MudTextField  @bind-Value="model.AssetClassName"  Label="Name of Asset Class" Variant="Variant.Outlined" Margin="Margin.Dense" />
                                    </MudItem>
                       </MudGrid>
                   </EditForm>
         </MudContainer>
            </DialogContent>
     <DialogActions>
       
          <MudButton form="formtdsRate" Variant="Variant.Filled" ButtonType="ButtonType.Submit" Color="Color.Success" >Submit</MudButton>
       
         <MudButton @onclick="Cancel" Variant="Variant.Filled" Color="Color.Primary" >Cancel</MudButton>

     </DialogActions>
    </MudDialog>
@code {
    [Parameter]
    public AssetClassModel model { get; set; } 

    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    private async Task OnValidSubmit(EditContext context)
    {
         var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;
        model.UserInfo.UserID = user.Identity.Name;
        //try
        //{
        //    Iservice.UpdateClass(model);
        //    snackbar.Add("Saved Successfully", Severity.Success);
        //MudDialog.Close(model);
        //}
        // catch (Exception ex)
        //{
        //    snackbar.Add(ex.Message, Severity.Warning);
        //}
        MudDialog.Close(model);
    }

    public void Cancel()
    {
        
    }

}
