@page "/"
@using Microsoft.JSInterop
@using Microsoft.AspNetCore.Components

@using Views.Data;
@using System.Text;
@using System.Net;

       @* <MudButton OnClick="RenderReportViewer">View Report</MudButton>
        <ReportViewer ReportName="@ReportName" Parameters=@ReportParameters></ReportViewer>*@
<AuthorizeView>
    <Authorized>
        <p>ARMS V2 WECOMES YOU. @context.User.Identity.Name</p>  

       
        @*<MudButton OnClick="RenderReportViewer">View Report</MudButton>
        <ReportViewer ReportName="@ReportName" Parameters=@ReportParameters></ReportViewer>*@
     </Authorized>
    <NotAuthorized>
        <MudGrid>
            <MudItem xs="8">
                <MudPaper Class="pa-4" Elevation="3">
                    <img src="ArmsStaticFiles/bgImage.jpg" />                   
                </MudPaper>
            </MudItem>
            <MudItem xs="4">
                <div class="truckImg">
                    <MudPaper Class="pa-4 " Elevation="3">
                        <img src="ArmsStaticFiles/Truck.jpg" />
                    </MudPaper>
                </div>
            </MudItem>
        </MudGrid>

       
    </NotAuthorized>
</AuthorizeView>



@code {
    public Dictionary<string, string> ReportParameters { get; set; } = new();

    public string ReportName { get; set; }   

    public void RenderReportViewer()
    { 
        ReportName = "daybook";
        ReportParameters.Clear();
        ReportParameters.Add("branch_name", "COIMBATORE");
        ReportParameters.Add("ocId", "1");
        ReportParameters.Add("from", "08/08/2022");
        ReportParameters.Add("to", "08/08/2022");    
    }

   
}
