@page "/"
@inject IDialogService DialogService
@inject ISessionStorageService sessionStorage

<AuthorizeView>
    <Authorized>
        <p>ARMS V2 WECOMES YOU. @context.User.Identity.Name</p>
    </Authorized>
    <NotAuthorized>
        Not Authorized Buddy!
    </NotAuthorized>
</AuthorizeView>


@code{   

    [CascadingParameter] MainLayout MainLayout { get; set; }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (!await sessionStorage.ContainKeyAsync("BranchID"))
            {
                DialogOptions options = new DialogOptions() { CloseButton = false };
                var dialog = DialogService.Show<ChooseBranch>("Select A Branch",options);
                var result = await dialog.Result;
                if (!result.Cancelled)
                {
                    UserBranchRoleModel BranchRole = (UserBranchRoleModel)result.Data;
                    await sessionStorage.SetItemAsync("BranchName", BranchRole.Branch.BranchName);
                    await sessionStorage.SetItemAsync("BranchID", BranchRole.Branch.BranchID);
                    await sessionStorage.SetItemAsync("RoleID", BranchRole.Role.RoleID);
                    MainLayout.SetBranchName(BranchRole.Branch.BranchName);
                }
            }
        }
    }
}

