@page "/"

<AuthorizeView>
    <Authorized>
        <p>ARMS V2 WECOMES YOU. @context.User.Identity.Name</p>
    </Authorized>
    <NotAuthorized>
        Not Authorized Buddy!
    </NotAuthorized>
</AuthorizeView>


