@page "/"
@using Microsoft.JSInterop
@using Microsoft.AspNetCore.Components
@inject IJSRuntime JSRuntime
@using Views.Data;

<AuthorizeView>
    <Authorized>
        <p>ARMS V2 WECOMES YOU. @context.User.Identity.Name</p>
         <div id="report-viewer" style="width: 100%;height:800px" />      
     </Authorized>
    <NotAuthorized>
        <MudGrid>
            <MudItem xs="8">
                <MudPaper Class="pa-4" Elevation="3">
                    <img src="ArmsStaticFiles/bgImage.jpg" />

                   
                </MudPaper>
            </MudItem>
            <MudItem xs="4">
                <div class="truckImg">
                    <MudPaper Class="pa-4 " Elevation="3">
                        <img src="ArmsStaticFiles/Truck.jpg" />
                    </MudPaper>
                </div>
            </MudItem>
        </MudGrid>

       
    </NotAuthorized>
</AuthorizeView>



@code {



    // ReportViewer options
    BoldReportViewerOptions viewerOptions = new BoldReportViewerOptions();


    // Used to render the Bold Report Viewer component in Blazor page.
    public async void RenderReportViewer()
    {
        viewerOptions.ReportName = "/ARMS_Reports/truck_report";
        viewerOptions.ServiceURL = "/api/BoldReportsAPI";
        BoldReports.Web.ReportParameter par1 = new (){Name = "branch",Values = new List<string>(){"CBE"}};
        BoldReports.Web.ReportParameter par2 = new (){Name = "br",Values = new List<string>(){"1"}};
        BoldReports.Web.ReportParameter par3 = new (){Name = "ason",Values = new List<string>(){"20220810"}};
        BoldReports.Web.ReportParameter par4 = new (){Name = "ev",Values = new List<string>(){"1"}};
        viewerOptions.Parameters = new[] { par1, par2, par3, par4 };

        await JSRuntime.InvokeVoidAsync("BoldReports.RenderViewer", "report-viewer", viewerOptions);
    }

    // Initial rendering of Bold Report Viewer
    protected override void OnAfterRender(bool firstRender)
    {
        RenderReportViewer();
    }
}
