@page "/"
@using Microsoft.JSInterop
@using Microsoft.AspNetCore.Components
@inject IJSRuntime JSRuntime
@using Views.Data;
@using System.Text;

<AuthorizeView>
    <Authorized>
        <p>ARMS V2 WECOMES YOU. @context.User.Identity.Name</p>
         @*<div id="report-viewer" style="width: 100%;height:800px" /> 

    <label ID="first" ></label>
    <label ID="second"></label>
         <iframe ID="Main" name="Main" height="500" width="700" />*@
     </Authorized>
    <NotAuthorized>
        <MudGrid>
            <MudItem xs="8">
                <MudPaper Class="pa-4" Elevation="3">
                    <img src="ArmsStaticFiles/bgImage.jpg" />

                   
                </MudPaper>
            </MudItem>
            <MudItem xs="4">
                <div class="truckImg">
                    <MudPaper Class="pa-4 " Elevation="3">
                        <img src="ArmsStaticFiles/Truck.jpg" />
                    </MudPaper>
                </div>
            </MudItem>
        </MudGrid>

       
    </NotAuthorized>
</AuthorizeView>



@code {

    
    protected void Button1_Click()
    {
        //first.Text = ConstructForm(TextBox1.Text, TextBox2.Text, TextBox3.Text);
        //String strJS = PostFormThroughJS("form1");
        //second.Text = strJS;
    }

    private string PostFormThroughJS(String strFormId)
    {
        StringBuilder strScript = new StringBuilder();
        strScript.Append("< script language='javascript'>");
        strScript.Append("var ctlForm = document.forms.namedItem('{0}');");
        strScript.Append("ctlForm.target='Main';");
        strScript.Append("ctlForm.submit();");
        strScript.Append("< /script>");
        return String.Format(strScript.ToString(), strFormId);
    }

    private string ConstructForm(String strRDLReportParameter0,
    String strRDLReportParameter1, string strRDLReportParameter2)
    {
        StringBuilder strForm = new StringBuilder();
        strForm.Append("< form id=\"form1\" name=\"form1\"action=\"https://xxx/Reportserver?/yyy/Reports/Demo\" method=\"post\">");
        strForm.Append("< input type=\"hidden\"name=\"rs:Command\" value=\"Render\">");
        strForm.Append("< input type=\"hidden\"name=\"rs:Format\" value=\"HTML4.0\">");
        strForm.Append("< input type=\"hidden\"name=\"Report_Parameter_0\" value=\"{0}\">");
        strForm.Append("< input type=\"hidden\"name=\"Report_Parameter_1\" value=\"{1}\">");
        strForm.Append("< input type=\"hidden\"name=\"Report_Parameter_2\" value=\"{2}\">");
        strForm.Append("< /form >");
        return String.Format(strForm.ToString(),
        strRDLReportParameter0, strRDLReportParameter1, strRDLReportParameter2);
    }

    // ReportViewer options
    BoldReportViewerOptions viewerOptions = new BoldReportViewerOptions();


    // Used to render the Bold Report Viewer component in Blazor page.
    public async void RenderReportViewer()
    {
        viewerOptions.ReportPath = "/ARMS_Reports/daybook";
        viewerOptions.ServiceURL = "api/BoldReportsAPI";        

        BoldReports.Web.ReportParameter par1 = new() { Name = "branch_name", Values = new List<string>() { "CBE" } };
        BoldReports.Web.ReportParameter par2 = new() { Name = "ocId", Values = new List<string>() { "1" } };
        BoldReports.Web.ReportParameter par3 = new() { Name = "from", Values = new List<string>() { "08/08/2022" } };
        BoldReports.Web.ReportParameter par4 = new() { Name = "to", Values = new List<string>() { "08/08/2022" } };            
        viewerOptions.Parameters = new() { par1, par2, par3, par4 };

        await JSRuntime.InvokeVoidAsync("BoldReports.RenderViewer", "report-viewer", viewerOptions);
    }
    // Initial rendering of Bold Report Viewer
    protected override void OnAfterRender(bool firstRender)
    {
        //RenderReportViewer();

        //Button1_Click();
    }



}
