@page "/jobcard"
@inject IJobcardService Iservice
@inject ITruckService Itruck
@inject IJobcardWorkshopService Ijw
@inject IJobInProgressService Ijp
@inject MudBlazor.ISnackbar snackbar
@attribute [Authorize]
@inject AuthenticationStateProvider auth

@inject IDialogService DialogService


<div class="d-flex">
    <h3 class="d-inline-block mt-2 mr-2">SELECT JOBCARD OF </h3>
    <MudAutocomplete Class="d-inline-block" T="TruckModel" Variant="Variant.Outlined" Margin="Margin.Normal" Label="Truck" Value="SelectedTruck" ValueChanged="TruckSelected" ResetValueOnEmptyText="true"
                     SearchFunc="SearchTruck" ToStringFunc="@(e => e == null ? null : $"{e.RegNo}")"></MudAutocomplete>

</div>

@code {
    private List<TruckModel> TruckList = new();
    private TruckModel SelectedTruck = new();
    private JobcardModel SelectedJobcard = new();    

    protected override void OnInitialized()
    {
        TruckList = Itruck.Select(null).ToList();
    }


    private async Task<IEnumerable<TruckModel>> SearchTruck(string searchString)
    {
        return await Task.FromResult(TruckList.Where(x => x.RegNo.Contains(searchString == null ? string.Empty : searchString, StringComparison.InvariantCultureIgnoreCase)));
    }


    private void TruckSelected(TruckModel obj)
    {
        SelectedTruck = obj;
        //Iservice.SelectByTruck();
    }


}
