@inject IBankAccountOwnService Iservice
@inject IBankPostingGroupService postIservice
@inject IBankAccountService bankIservice
@inject IAddressService addressIservice
@inject IContactService contactIservice
@inject NavigationManager uriHelper;
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@attribute [Authorize]
@inject IDialogService DialogService

<MudDialog>
    <TitleContent><h3>Create Own Bank</h3></TitleContent>
    <DialogContent>
        <MudContainer Style="min-height: 300px; max-height: 450px; overflow-y: scroll">
            <EditForm id="formtdsRate" Model="@model" OnValidSubmit="OnValidSubmit">
                <ObjectGraphDataAnnotationsValidator />
                <ValidationSummary />
                <MudStack Spacing="3">
                @*   <MudExpansionPanel  Dense="true" IsExpanded>
                <TitleContent>
                <h6>BankPostingGroup</h6>
                </TitleContent>
                <ChildContent>
                <MudGrid>
                <br />
                <MudItem xs="12" md="6">
                </MudItem>
                <MudItem xs="12" md="6">
                <MudTextField  @bind-Value="BankAccount"  Label="BankAccount" Variant="Variant.Outlined" Margin="Margin.Dense" ReadOnly="true"/>
                </MudItem>
                <MudItem xs="12" md="6">
                <MudTextField  @bind-Value="BankCharges" Label="BankCharges" Variant="Variant.Outlined" Margin="Margin.Dense" ReadOnly="true"/>
                </MudItem>
                <MudItem xs="12" md="6">
                <MudTextField  @bind-Value="ProcessingFee" Label="ProcessingFee" Variant="Variant.Outlined" Margin="Margin.Dense" ReadOnly="true"/>
                </MudItem>
                </MudGrid>
                </ChildContent>
                </MudExpansionPanel>*@

                
                <MudPaper Class="p-3">
                    <h6>Bank A/c Info</h6>
                    <MudGrid >
                        <MudItem xs="12" md="6">
                            <MudTextField @bind-Value="model.BankAccountInfo.BeneficiaryName" Label="BeneficiaryName" Variant="Variant.Outlined" Margin="Margin.Dense" MaxLength="200" />
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <MudTextField @bind-Value="model.BankAccountInfo.AccountNumber" Label="Account Number" Variant="Variant.Outlined" Margin="Margin.Dense" MaxLength="16" />
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <MudTextField @bind-Value="model.BankAccountInfo.IfscCode" Label="Ifsc Code" Variant="Variant.Outlined" Margin="Margin.Dense" MaxLength="11" />
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <MudTextField @bind-Value="model.BankAccountInfo.MicrCode" Label="Micr Code" Variant="Variant.Outlined" Margin="Margin.Dense" MaxLength="9" />
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <MudTextField @bind-Value="model.BankAccountInfo.SwiftCode" Label="Swift Code" Variant="Variant.Outlined" Margin="Margin.Dense" MaxLength="8" />
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <MudTextField @bind-Value="model.BankAccountInfo.BankTitle" Label="Bank Name" Variant="Variant.Outlined" Margin="Margin.Dense" />
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <MudTextField @bind-Value="model.BankAccountInfo.BankBranch" Label="Bank Branch" Variant="Variant.Outlined" Margin="Margin.Dense" />
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <MudTextField @bind-Value="model.BankCode" Label="BankCode" Variant="Variant.Outlined" Margin="Margin.Dense" MaxLength="8" />
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <MudSelect Label="Select Post Group" @bind-Value="model.PostingGroup" T="BankPostingGroupModel" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary" ToStringFunc="@(e => e == null ? null : $"{e.Title}")">
                                @foreach (var ditem in postGroups)
                                {
                                    <MudSelectItem Value="@ditem">@ditem.Title</MudSelectItem>
                                }
                            </MudSelect>
                        </MudItem>
                        <MudItem xs="12" md="4">
                            <MudCheckBox @bind-Checked="model.IsGstRegistered" Color="Color.Primary" Dense="true">Is GstRegistered</MudCheckBox>
                        </MudItem>
                        @if (model.IsGstRegistered)
                        {
                            <MudItem xs="12" md="8">
                                <MudTextField @bind-Value="model.GstNo" Label="GstNo" Variant="Variant.Outlined" Margin="Margin.Dense" MaxLength="15" />
                            </MudItem>
                        }
                    </MudGrid>
                </MudPaper>
                    <MudPaper Class="p-3">
                    <h6>Address </h6>
                    <MudGrid >
                        <MudItem xs="12" md="6">
                            <MudTextField @bind-Value="model.AddressInfo.AddresseeName" Label="AddresseeName" Variant="Variant.Outlined" Margin="Margin.Dense" />
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <MudTextField @bind-Value="model.AddressInfo.Building" Label="Building" Variant="Variant.Outlined" Margin="Margin.Dense" />
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <MudTextField @bind-Value="model.AddressInfo.Street" Label="Street" Variant="Variant.Outlined" Margin="Margin.Dense" />
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <MudTextField @bind-Value="model.AddressInfo.Place" Label="Place" Variant="Variant.Outlined" Margin="Margin.Dense" />
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <MudTextField @bind-Value="model.AddressInfo.City" Label="City" Variant="Variant.Outlined" Margin="Margin.Dense" />
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <MudNumericField @bind-Value="model.AddressInfo.PinCode" HideSpinButtons Label="PinCode" Variant="Variant.Outlined" Margin="Margin.Dense" MaxLength="6" />
                        </MudItem>
                    </MudGrid>
                </MudPaper>
                    <MudPaper Class="p-3">
                    <h6>ContactInfo</h6>
                    <MudGrid>
                        <MudItem xs="12" md="6">
                            <MudTextField @bind-Value="model.ContactInfo.ContactName" Label="ContactName" Variant="Variant.Outlined" Margin="Margin.Dense" />
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <MudTextField @bind-Value="model.ContactInfo.AdditionalInfo" Label="AdditionalInfo" Variant="Variant.Outlined" Margin="Margin.Dense" />
                        </MudItem>
                        <MudItem xs="12" md="6">
                                <MudNumericField HideSpinButtons @bind-Value="model.ContactInfo.Phone" Label="Phone" Variant="Variant.Outlined" Margin="Margin.Dense" MaxLength="10" />
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <MudTextField @bind-Value="model.ContactInfo.Email" Label="Email" Variant="Variant.Outlined" Margin="Margin.Dense"  />
                        </MudItem>
                    </MudGrid>
                </MudPaper>
                </MudStack>
            </EditForm>
        </MudContainer>

    </DialogContent>
    <DialogActions>

        <MudButton form="formtdsRate" Variant="Variant.Filled" ButtonType="ButtonType.Submit" Color="Color.Success">Submit</MudButton>

        <MudButton @onclick="Cancel" Variant="Variant.Filled" Color="Color.Primary">Cancel</MudButton>

    </DialogActions>
</MudDialog>
@code
{
    [Parameter]
    public OwnBankModel model { get; set; }

    List<BankPostingGroupModel> postGroups;
    BankPostingGroupModel bankPostingGroupModel = new(); 

    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    string UserID;
    int BranchID;



    protected override async Task OnInitializedAsync()
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        var User = authprov.User; 
        UserID =  User.Identity.Name;
        BranchID = int.Parse(User.Claims.First(x => x.Type == "BranchID").Value);

        postGroups = postIservice.Select().ToList();

        if (model.ID != null)
        {           
            model.PostingGroup = postIservice.SelectByID(model.PostingGroup.ID); 
            model.BankAccountInfo = bankIservice.SelectByID(model.BankAccountInfo.BankAccountID.Value);
            model.AddressInfo = addressIservice.SelectByID(model.AddressInfo.AddressID.Value);
            model.ContactInfo = contactIservice.SelectByID(model.ContactInfo.ContactID.Value);
        }
        else
            model.BranchID = BranchID;
    }

    
    private async Task OnValidSubmit(EditContext context)
    {
        model.UserInfo.UserID =
        model.ContactInfo.UserInfo.UserID =
        model.AddressInfo.UserInfo.UserID =
        model.BankAccountInfo.UserInfo.UserID =
        model.PostingGroup.UserInfo.UserID = UserID;  

        model.ContactInfo.RefTable = "Bank";  
        MudDialog.Close(model);
    }
    public void Cancel()
    {
        MudDialog.Cancel();
    }
}
