@inject IBankAccountOwnService Iservice
@inject IBankPostingGroupService postIservice
@inject IBankAccountService bankIservice
@inject IAddressService addressIservice
@inject IContactService contactIservice
@inject NavigationManager uriHelper;
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@attribute [Authorize]
@inject IDialogService DialogService

 <MudDialog>
    <TitleContent><h3>Create Own Bank</h3></TitleContent>
     <DialogContent>
    

  
    <MudContainer Style="min-height: 300px; max-height: 450px; overflow-y: scroll">
         <EditForm id="formtdsRate" Model="@model" OnValidSubmit="OnValidSubmit" >
              <ObjectGraphDataAnnotationsValidator />
                <ValidationSummary />
   <MudGrid>
           <MudItem xs="12" md="12">
    <MudExpansionPanels  MultiExpansion="true">
    <MudExpansionPanel  Dense="true">
         <TitleContent>
               <h6>BankPostingGroup</h6>
              
           </TitleContent>
            <ChildContent>
         <MudGrid>
             <br />
               <MudItem xs="12" md="6">
        <MudSelect Label="Select Post Group" @bind-Value="model.PostingGroup" T="BankPostingGroupModel" SelectedValuesChanged="postGroupChanged" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary" ToStringFunc="@(e => e == null ? null : $"{e.Title}")">
                        
                        @foreach (var ditem in postGroup)
                            {
                                <MudSelectItem Value="@ditem">@ditem.Title</MudSelectItem>
                            }
                        </MudSelect>
        </MudItem>
         <MudItem xs="12" md="6">
           <MudTextField  @bind-Value="BankAccount"  Label="BankAccount" Variant="Variant.Outlined" Margin="Margin.Dense" ReadOnly="true"/>

        </MudItem>
         <MudItem xs="12" md="6">
           <MudTextField  @bind-Value="BankCharges" Label="BankCharges" Variant="Variant.Outlined" Margin="Margin.Dense" ReadOnly="true"/>

        </MudItem>
        <MudItem xs="12" md="6">
           <MudTextField  @bind-Value="ProcessingFee" Label="ProcessingFee" Variant="Variant.Outlined" Margin="Margin.Dense" ReadOnly="true"/>

        </MudItem>
        </MudGrid> 
        </ChildContent>
    </MudExpansionPanel>
     <MudExpansionPanel  Dense="true">
           <TitleContent>
               <h6>BankAccountInfo</h6>
              
           </TitleContent>
            <ChildContent>
         <MudGrid>
             <br />
               <MudItem xs="12" md="6">
                  <MudTextField  @bind-Value="model.BankAccountInfo.BeneficiaryName"  Label="BeneficiaryName" Variant="Variant.Outlined" Margin="Margin.Dense" />

        </MudItem>
         <MudItem xs="12" md="6">
            <MudTextField  @bind-Value="model.BankAccountInfo.AccountNumber"  Label="Account Number" Variant="Variant.Outlined" Margin="Margin.Dense" />

        </MudItem>
         <MudItem xs="12" md="6">
            <MudTextField  @bind-Value="model.BankAccountInfo.IfscCode"  Label="Ifsc Code" Variant="Variant.Outlined" Margin="Margin.Dense" />

        </MudItem>
        <MudItem xs="12" md="6">
           <MudTextField  @bind-Value="model.BankAccountInfo.MicrCode"  Label="Micr Code" Variant="Variant.Outlined" Margin="Margin.Dense" />

        </MudItem>
         <MudItem xs="12" md="6">
            <MudTextField  @bind-Value="model.BankAccountInfo.SwiftCode"  Label="Swift Code" Variant="Variant.Outlined" Margin="Margin.Dense" />

        </MudItem>
         <MudItem xs="12" md="6">
            <MudTextField  @bind-Value="model.BankAccountInfo.BankTitle"  Label="Bank Name" Variant="Variant.Outlined" Margin="Margin.Dense" />

        </MudItem>
        <MudItem xs="12" md="6">
           <MudTextField  @bind-Value="model.BankAccountInfo.BankBranch"  Label="Bank Branch" Variant="Variant.Outlined" Margin="Margin.Dense" />

        </MudItem>
          <MudItem xs="12" md="6">
           <MudTextField  @bind-Value="model.BankCode"  Label="BankCode" Variant="Variant.Outlined" Margin="Margin.Dense" />

        </MudItem>
         <MudItem xs="12" md="4">
            @*   <MudRadioGroup @bind-SelectedOption="model.IsGstRegistered">*@
          <MudCheckBox @bind-Checked="model.IsGstRegistered" Color="Color.Primary"   Dense="true" >Is GstRegistered</MudCheckBox>
         @* </MudRadioGroup>*@
      </MudItem>
      @if (model.IsGstRegistered)
      {
           <MudItem xs="12" md="8">
           <MudTextField  @bind-Value="model.GstNo"  Label="GstNo" Variant="Variant.Outlined" Margin="Margin.Dense" />

           </MudItem>
      }
      <br />
      </MudGrid>
        </ChildContent>
    </MudExpansionPanel>

      <MudExpansionPanel  Dense="true">
           <TitleContent>
               <h6>AddressInfo</h6>
              
           </TitleContent>
            <ChildContent>
         <MudGrid>
             <br />
               <MudItem xs="12" md="6">
                  <MudTextField  @bind-Value="model.AddressInfo.AddresseeName"  Label="AddresseeName" Variant="Variant.Outlined" Margin="Margin.Dense" />

        </MudItem>
         <MudItem xs="12" md="6">
            <MudTextField  @bind-Value="model.AddressInfo.Building"  Label="Building" Variant="Variant.Outlined" Margin="Margin.Dense" />

        </MudItem>
         <MudItem xs="12" md="6">
         <MudTextField  @bind-Value="model.AddressInfo.Street"  Label="Street" Variant="Variant.Outlined" Margin="Margin.Dense" />

        </MudItem>
        <MudItem xs="12" md="6">
          <MudTextField  @bind-Value="model.AddressInfo.Place"  Label="Place" Variant="Variant.Outlined" Margin="Margin.Dense" />

        </MudItem>
         <MudItem xs="12" md="6">
            <MudTextField  @bind-Value="model.AddressInfo.City"  Label="City" Variant="Variant.Outlined" Margin="Margin.Dense" />

        </MudItem>
         <MudItem xs="12" md="6">
            <MudTextField  @bind-Value="model.AddressInfo.PinCode"  Label="PinCode" Variant="Variant.Outlined" Margin="Margin.Dense" />

        </MudItem>
        
        </MudGrid>
        </ChildContent>
    </MudExpansionPanel>

    
      <MudExpansionPanel  Dense="true">
           <TitleContent>
               <h6>ContactInfo</h6>
              
           </TitleContent>
            <ChildContent>
         <MudGrid>
             <br />
               <MudItem xs="12" md="6">
                  <MudTextField  @bind-Value="model.ContactInfo.ContactName"  Label="ContactName" Variant="Variant.Outlined" Margin="Margin.Dense" />

        </MudItem>
         <MudItem xs="12" md="6">
            <MudTextField  @bind-Value="model.ContactInfo.AdditionalInfo"  Label="AdditionalInfo" Variant="Variant.Outlined" Margin="Margin.Dense" />

        </MudItem>
         <MudItem xs="12" md="6">
         <MudTextField  @bind-Value="model.ContactInfo.Phone"  Label="Phone" Variant="Variant.Outlined" Margin="Margin.Dense" />

        </MudItem>
        <MudItem xs="12" md="6">
          <MudTextField  @bind-Value="model.ContactInfo.Email"  Label="Email" Variant="Variant.Outlined" Margin="Margin.Dense" />

        </MudItem>
       
        
        </MudGrid>
        </ChildContent>
    </MudExpansionPanel>

    </MudExpansionPanels>
    </MudItem>
   </MudGrid>
   </EditForm>
    </MudContainer>
    
    </DialogContent>
     <DialogActions>
       
           <MudButton form="formtdsRate" Variant="Variant.Filled" ButtonType="ButtonType.Submit" Color="Color.Success" >Submit</MudButton>
       
         <MudButton @onclick="Cancel" Variant="Variant.Filled" Color="Color.Primary" >Cancel</MudButton>

     </DialogActions>
    </MudDialog>
@code 
{
    [Parameter]
    public OwnBankModel model { get; set; }  
    private List<BankPostingGroupModel> postGroup = new();
    private BankPostingGroupModel bankPostingGroupModel = new();
    private string BankAccount = null;
    private string BankCharges = null;
    private string ProcessingFee = null;
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    protected override async Task OnInitializedAsync()
    {
        postGroup = postIservice.Select().ToList();
        if(model.ID!=null)
        {
            model.PostingGroup = postIservice.SelectByID(model.PostingGroup.ID);
            BankAccount = model.PostingGroup.BankAccount.AccountName;
            BankCharges = model.PostingGroup.BankCharges.AccountName;
            ProcessingFee = model.PostingGroup.ProcessingFee.AccountName;

            model.BankAccountInfo = bankIservice.SelectByID(model.BankAccountInfo.BankAccountID.Value);
            model.AddressInfo = addressIservice.SelectByID(model.AddressInfo.AddressID.Value);
            model.ContactInfo = contactIservice.SelectByID(model.ContactInfo.ContactID.Value);

        }

    }

    public void postGroupChanged()
    {
        BankAccount = model.PostingGroup.BankAccount.AccountName;
        BankCharges = model.PostingGroup.BankCharges.AccountName;
        ProcessingFee = model.PostingGroup.ProcessingFee.AccountName;
    }
    private async Task OnValidSubmit(EditContext context)
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;
        var brancIDString = authprov.User.Claims.First(x => x.Type == "BranchID").Value;
        model.PostingGroup.UserInfo.UserID = user.Identity.Name;
        model.BankAccountInfo.UserInfo.UserID = user.Identity.Name;
        model.AddressInfo.UserInfo.UserID = user.Identity.Name;
        model.ContactInfo.UserInfo.UserID = user.Identity.Name;
        model.UserInfo.UserID = user.Identity.Name;
        model.BranchID = int.Parse(brancIDString);
        model.ContactInfo.RefTable = "Bank";

        snackbar.Add("Saved Successfully", Severity.Success);
        MudDialog.Close(model);
    }
    public void Cancel()
    {
        
    }
}
