
@*@inject ICashAccountService Iservice
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@attribute [Authorize]
@inject IDialogService DialogService*@

<title>test</title>
@* <MudDialog>
    <TitleContent><h3>Create Cash Accounts</h3></TitleContent>
     <DialogContent>
         <MudContainer>
                <EditForm id="formtdsRate" Model="@model" OnValidSubmit="OnValidSubmit" >
              <ObjectGraphDataAnnotationsValidator />
                <ValidationSummary />
                   <MudGrid>
                        <MudItem xs="12" md="3">
                            <MudTextField  @bind-Value="model.Title"  Label="tittle" Variant="Variant.Outlined" Margin="Margin.Dense" />
                            </MudItem>
                             <MudItem xs="12" md="3">
                            <MudTextField  @bind-Value="model.CashCode"  Label="Cash Code" Variant="Variant.Outlined" Margin="Margin.Dense" />
                            </MudItem>
                       
                                 <MudItem xs="12" md="3">
                            <MudTextField  @bind-Value="model.MinBalance"  Label="Minimum Balance" Variant="Variant.Outlined" Margin="Margin.Dense" />
                            </MudItem>
                             <MudItem xs="12" md="3">
                            <MudTextField  @bind-Value="model.MaxBalance"  Label="Maximum Balance" Variant="Variant.Outlined" Margin="Margin.Dense" />
                            </MudItem>
                       </MudGrid>
                   </EditForm>
         </MudContainer>
            </DialogContent>
     <DialogActions>
       
          <MudButton form="formtdsRate" Variant="Variant.Filled" ButtonType="ButtonType.Submit" Color="Color.Success" >Submit</MudButton>
       
         <MudButton @onclick="Cancel" Variant="Variant.Filled" Color="Color.Primary" >Cancel</MudButton>

     </DialogActions>
    </MudDialog>*@
@code {
    //public CashAccountModel model { get; set; } 
    //[CascadingParameter] MudDialogInstance MudDialog { get; set; }
    //protected override async Task OnInitializedAsync()
    //{

    //}
    //private async Task OnValidSubmit(EditContext context)
    //{
    //    var authprov = await auth.GetAuthenticationStateAsync();
    //    var user = authprov.User;
    //    var brancIDString = authprov.User.Claims.First(x => x.Type == "BranchID").Value;
    //    try
    //    {
    //        Iservice.Update(model);
    //        snackbar.Add("Saved Successfully", Severity.Success);
    //    MudDialog.Close(model);
    //    }
    //     catch (Exception ex)
    //    {
    //        snackbar.Add(ex.Message, Severity.Warning);
    //    }
            
    //}
    public void Cancel()
    {
        
    }
}
