@inject ICashAccountService Iservice
@inject IChartOfAccountService ICoaservice
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@attribute [Authorize]
@inject IDialogService DialogService
@using Microsoft.Extensions.Configuration
@inject IConfiguration configuration;


<MudDialog>
    <TitleContent><h3>Create Cash Accounts</h3></TitleContent>
    <DialogContent>
        <MudContainer>
            <EditForm id="formtdsRate" Model="@model" OnValidSubmit="OnValidSubmit">
                <ObjectGraphDataAnnotationsValidator />
                <ValidationSummary />
                <MudGrid>
                    <MudItem xs="12" md="1">

                    </MudItem>
                    <MudItem xs="12" md="8">
                        <MudTextField @bind-Value="model.Title" Label="Tittle" Variant="Variant.Outlined" Margin="Margin.Dense" />
                    </MudItem>
                    <MudItem xs="12" md="3">
                    </MudItem>
                    <MudItem xs="12" md="1">
                    </MudItem>
                    <MudItem xs="12" md="8">
                        <MudTextField @bind-Value="model.CashCode" Label="Cash Code" Variant="Variant.Outlined" Margin="Margin.Dense" />
                    </MudItem>
                    <MudItem xs="12" md="3">
                    </MudItem>
                    <MudItem xs="12" md="1">
                    </MudItem>

                    <MudItem xs="12" md="8">
                        <MudTextField @bind-Value="model.MinBalance" Label="Minimum Balance" Variant="Variant.Outlined" Margin="Margin.Dense" />
                    </MudItem>
                    <MudItem xs="12" md="3">
                    </MudItem>
                    <MudItem xs="12" md="1">
                    </MudItem>
                    <MudItem xs="12" md="8">
                        <MudTextField @bind-Value="model.MaxBalance" Label="Maximum Balance" Variant="Variant.Outlined" Margin="Margin.Dense" />
                    </MudItem>
                    <MudItem xs="12" md="3">
                    </MudItem>
                    <MudItem xs="12" md="1">
                    </MudItem>
                    <MudItem xs="12" md="8">
                        <MudSelect Label="Select A/c " @bind-Value="model.Coa.CoaID" T="int?" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                            @foreach (var ditem in Coa)
                            {
                                <MudSelectItem Value="@ditem.CoaID">@ditem.AccountName</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>
                    <MudItem xs="12" md="3">
                    </MudItem>
                </MudGrid>
            </EditForm>
        </MudContainer>
    </DialogContent>
    <DialogActions>
        <MudButton form="formtdsRate" Variant="Variant.Filled" ButtonType="ButtonType.Submit" Color="Color.Success">Submit</MudButton>
       <MudButton @onclick="Cancel" Variant="Variant.Filled" Color="Color.Primary">Cancel</MudButton>
    </DialogActions>
</MudDialog>
@code {
    [Parameter]
    public CashAccountModel model { get; set; }
    public BranchModel SelectBr { get; set; }
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    private List<ChartOfAccountModel> Coa = new();


    protected override void OnInitialized()
    {        
        Coa = ICoaservice.SelectByGroup(int.Parse(configuration.GetSection("Data")["Cash"])).ToList();

    }
    private async Task OnValidSubmit(EditContext context)
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;
        var brancIDString = authprov.User.Claims.First(x => x.Type == "BranchID").Value;
        model.BranchID = int.Parse(brancIDString);
        model.UserInfo.UserID = user.Identity.Name;
        try
        {
            Iservice.Update(model);
            snackbar.Add("Saved Successfully", Severity.Success);
            MudDialog.Close(model);
        }
        catch (Exception ex)
        {
            snackbar.Add(ex.Message, Severity.Warning);
        }

    }
    public void Cancel()
    {

    }
}
