.Expired {
    color: #000; /* Fallback for older browsers */
    color: rgb(226, 164, 153);
    font-size: 36pt;
    font-weight: 800;
    position: absolute;
    text-align: center;
    left: 50%;
    top: 30%;
    font-family: Arial, sans-serif;
    transform: rotate(-35deg) translate(-50%, -50%);
}
